@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    background-color: #28223F;
    color: #b3bbcd;
    font-family: "Poppins", sans-serif;
}

section{
    width: 32rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.personal{
    /* background-color: white; -> for temp purpose white color used*/ 
    background-color: #231E39;
    /* color:#b3b8cd; */
    padding: 2.5rem 0 1.5rem 0;
}

.personal .pro{
    background-color: #febb08;
    color:#231e39;
    border: 1px solid #febb08;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    padding: 0.1rem 0.7rem;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.personal img{
    width: 12rem;
    height: 12rem;
    border: 0.2rem solid #03bfcb;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.personal .name{
    /* font-size: 5rem; */
    text-align: center;
}

.personal .country{
    /* font-size: 5rem; */
    text-align: center;
    font-size: 1.3rem;
    margin: 0.2rem;
}

.personal .stack{
    /* font-size: 5rem; */
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2.5rem;
}

.personal .buttons{
    text-align: center;
    margin: 1rem;
}

.personal button{
    border: 1px solid #03bfcb;
    padding: 0.8rem 1.8rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
}

.personal button:hover{
    cursor: pointer;
}

.personal button.primary{
    background-color: #03bfcb;
    color:#231e39;
    margin-right: .5rem;
}

.personal button.secondary{
    background-color: transparent;
    color: #02899c;
    margin-left: .5rem;
}

.skills{
    background-color: white;
}

li{
    /* remove starting dots from li tags */
    list-style: none; 
}